@import "/styles/variables.scss";

.mainWrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.mainSection {
  position: relative;
  margin: 15px;
  height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: $boxShadowAlt;
  background-color: $wrapperColor;
  @media (min-width: 1200px) {
    margin: 15px 15px 15px 280px;
  }
}

.displayContent {
  position: relative;
  width: 100%;
  padding: 75px 0 50px;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  @media (min-width: 1200px) {
    padding: 50px 35px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.testimonials,
.lastProjects {
  margin-top: 50px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(415px, 100%), 1fr));
  gap: 25px;
}
