@import "/styles/variables.scss";

.nav {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 99;
  width: 250px;
  height: calc(100vh - 30px);
  padding: 15px;
  background-color: $wrapperColor;
  border-radius: 10px;
  box-shadow: $boxShadowAlt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-265px);
  @media (min-width: 1200px) {
    transform: none;
  }
}

.logo {
  width: 100%;
  text-align: center;
  h3 {
    margin: 15px 0;
  }
  span {
    display: block;
    font-size: $l-fontSize;
    color: $secondaryColorLt;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid $secondaryColorLt;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  li:not(:last-of-type) {
    margin-bottom: 15px;
  }
  a {
    position: relative;
    display: inline-block;
    font-family: $poppins;
    font-size: $sm-fontSize;
    color: $secondaryColorLt;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }
  a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $primaryColorLt;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s cubic-bezier(.65, .05, .36, 1);
  }
  a:hover,
  a.activeLink {
    color: $primaryColorLt;
    &::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #424242;
  padding-top: 15px;
  a {
    display: block;
    transition: all 0.3s ease-in-out;
    svg {
      width: 20px;
      height: 20px;
      display: block;
      fill: $secondaryColorLt;
      transition: all 0.3s ease-in-out;
    }
  }
  a:not(:last-of-type) {
    margin-right: 5px;
  }
  a:hover {
    svg {
      fill: $primaryColorLt;
    }
  }
}

.burger {
  position: absolute;
  top: 0;
  right: -65px;
  z-index: 11111;
  color: $secondaryColorLt;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    color: $primaryColorLt;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

.activeBurger {
  .burger {
    color: $primaryColorLt;
    &:hover {
      color: $secondaryColorLt;
    }
  }
}

.burgerMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
  background: transparentize($color: $wrapperColor, $amount: 0.2);
  transition: all .3s ease-in-out;
}

.burgerInner {
  height: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $wrapperColor;
  box-shadow: $boxShadowAlt;
}

.navigationBurger {
  text-align: center;
  li {
    padding: 15px 0;
  }
  a {
    display: inline-block;
    font-family: $poppins;
    font-size: $h4-fontSize;
    color: $secondaryColorLt;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }
  a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: $primaryColorLt;
    margin: 5px auto 0;
    transition: all 0.3s ease-in-out;
  }
  a:hover,
  a.activeLink {
    color: $primaryColorLt;
    &::after {
      width: 25px;
    }
  }
}
