@import "./variables.scss";
@import "../styles/animations.scss";

.lpWrapper {
  display: flex;
  justify-content: center;
}

.lpLink {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .lpInfo {
      opacity: 1;
    }
    .lpImgSm {
      transform: translateX(0px);
    }
    .category {
      opacity: 1;
    }
  }
}

.lpImgBig,
.lpImgSm {
  position: relative;
  border-top: 16px solid $bodyColor;
  border-bottom: 16px solid $bodyColor;
  border-left: 8px solid $bodyColor;
  border-right: 8px solid $bodyColor;
  border-radius: 20px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.lpImgBig {
  max-width: 400px;
  height: 300px;
  box-shadow: $boxShadowAlt;
  img {
    object-position: top;
    animation-name: thAnim;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

.lpInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparentize($color: $wrapperColor, $amount: 0.4);
  z-index: 22;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all .4s ease-in-out;
  svg {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    stroke: $secondaryColorLt;
  }
}

.lpImgSm {
  max-width: 125px;
  height: 250px;
  transform: translateX(-35px);
  box-shadow: $boxShadow;
  transition: all .5s ease-in-out;
}

.category {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $poppins;
  font-size: $sm-fontSize;
  font-weight: 700;
  color: $secondaryColorLt;
  background: transparentize($color: $wrapperColor, $amount: 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .6s ease-in-out
}

.projects {
  position: relative;
}
