@import "../styles/variables.scss";
@import "../styles/animations.scss";

.project h1::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: $secondaryColorLt;
  margin-right: 5px;
}

.gridProject {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
  gap: 15px;
  align-items: center;
}

.info {
  span {
    display: block;
    font-family: $poppins;
    font-weight: bold;
    color: $primaryColorLt;
  }
  span:not(:first-of-type) {
    margin-top: 15px;
  }
  .linkProject {
    margin-top: 25px;
  }
}

.projectImages {
  position: relative;
  height: 450px;
  @media (min-width: 600px) {
    height: 700px;
  }
}

.imgBack {
  display: block;
  position: absolute;
  top: 50%;
  width: 525px;
  height: 400px;
  right: 0;
  transform: matrix3d(
      0.9,
      0.12,
      0.34,
      -0.0002,
      0,
      1,
      0,
      0,
      -0.34,
      0,
      0.94,
      0,
      1,
      0,
      10,
      1
    )
    translate(0, -50%);
  box-shadow: $boxShadowAlt;
  z-index: 1;
  @media (min-width: 600px) {
    transform: matrix3d(
        0.9,
        0.12,
        0.34,
        -0.0002,
        0,
        1,
        0,
        0,
        -0.34,
        0,
        0.94,
        0,
        1,
        0,
        10,
        1
      )
      translate(-10px, -50%);
    height: 650px;
  }
}

.imgFront {
  position: absolute;
  left: 0;
  top: 50%;
  max-width: 125px;
  height: 250px;
  border-top: 16px solid $bodyColor;
  border-bottom: 16px solid $bodyColor;
  border-left: 8px solid $bodyColor;
  border-right: 8px solid $bodyColor;
  border-radius: 20px;
  box-shadow: $boxShadowAlt;
  transform: translate(5px, -50%);
  overflow: hidden;
  z-index: 2;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 600px) {
    max-width: 175px;
    height: 325px;
    transform: translate(25px, -50%);
  }
}
