// Fonts Variables
$poppins: "Poppins", sans-serif;
$muli: "Mulish", sans-serif;

// Font Size
$bodySize: 1.6rem;
$h1-fontSize: 3.5rem;
$h2-fontSize: 3rem;
$h3-fontSize: 2.5rem;
$h4-fontSize: 2rem;
$l-fontSize: 1.5rem;
$sm-fontSize: 1.2rem;

//Colors
$bodyColor: #191923;
$wrapperColor: #1e1e28;
$backgroundColorGrad: linear-gradient(159deg, #1e1e28 0%, #20202a 200%);
$baseColorLt: #EBDDCC;
$primaryColorLt: #FFFCF7;
$secondaryColorLt: #dfd3c3;
$boxShadow: 0 3px 8px 0 rgb(15 15 20 / 25%);
$boxShadowAlt: 0 14px 28px rgba(15, 15, 20, 0.25),
  0 10px 10px rgba(15, 15, 20, 0.22);
